<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Artist</title>
    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Artists base by Berlioz&Kot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a onclick="window.location='/greeting'" class="nav-link" href="#">Homepage</a>
            </li>
            <li class="nav-item">
                <a onclick="window.location='/addArtist'" class="nav-link" href="#">Add new artist</a>
            </li>
            <li class="nav-item">
                <a onclick="window.location='/addAlbum'" class="nav-link" href="#">Add new album</a>
            </li>
            <li class="nav-item">
                <a onclick="window.location='/artists'" class="nav-link" href="#">Show artists</a>
            </li>
        </ul>
    </div>
</nav>
<body>
<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-6">
                <h1>Add an artist</h1>
                <form th:action="@{/createArtist}" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">First name</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="firstName"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Second name</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="secondName"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Stage name</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="stageName"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Country</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="country"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12 col-lg-offset-3">
                                <button type="submit" class="btn btn-info" name="button">Create</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>