<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Album</title>
    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script>
    var MyForm = (function(){

    /* init */
    var form = document.forms.myForm;
    var fields = Array.from(form.querySelectorAll('input')); // Массив полей формы
    var submitBtn = form.querySelector('#submitButton');
    var resultContainer = document.querySelector('#resultContainer');
    form.addEventListener('submit', function (e) {
        e.preventDefault();
        resultContainer.textContent = '';
        MyForm.submit();
    });

    /* public */
    function validate() {
        var result = {
            isValid: true,
            errorFields: []
        };

        _checkFields(result);
        _setClasses(result);

        if(result.errorFields.length) {
            result.isValid = false;
            resultContainer.classList.remove('success');
        }

        return result;
    }

    function getData() {
        var fieldsData = {};
        for (var i = 0; i < fields.length; i++) {
            var currentField = fields[i];
            fieldsData[currentField.name] = currentField.value;
        }
        return fieldsData;
    }


    function submit() {
        var validationResult = this.validate();
        if (validationResult.isValid) {
            submitBtn.setAttribute('disabled', 'disabled');
            _sendRequest(form.action, _responseResult); // Ajax запрос
        }
    }

    function _checkFields(result){
        var reForm = { // Регулярки для проверки полей
            year:/^\+7\([\d]{3}\)[\d]{3}\-[\d]{2}\-[\d]{2}$/,
            numberOfSongs: /^\+7\([\d]{3}\)[\d]{3}\-[\d]{2}\-[\d]{2}$/
        };
        for (var i = 0; i < fields.length; i++) { // Проверка полей в массиве fields
            var currentField = fields[i];
            if (!reForm[currentField.name].test(currentField.value))
                result.errorFields.push(currentField.name);
        }
    }

    function _setClasses(result){
        for(var i = 0; i < fields.length; i++){
            var currentField = fields[i];
            if(result.errorFields.indexOf(currentField.name) === -1)
                currentField.classList.remove('error');
            else
                currentField.classList.add('error');
        }
    }

    function _sendRequest(url, cb){
        var oReq = new XMLHttpRequest();
        oReq.open("GET", url, true);
        oReq.addEventListener('load', function(){
            var query = {
                url: url,
                response: JSON.parse(this.responseText),
                callback: cb
            };
            cb(query);
        });
        oReq.send();
    }

    function _responseResult(query){
        switch(query.response.status){
            case 'success':
                resultContainer.classList.remove('error');
                resultContainer.classList.remove('progress');
                resultContainer.classList.add('success');
                resultContainer.textContent = 'Success';
                submitBtn.removeAttribute('disabled');
                break;
            case 'error':
                resultContainer.classList.remove('success');
                resultContainer.classList.remove('progress');
                resultContainer.classList.add('error');
                resultContainer.textContent = query.response.reason;
                submitBtn.removeAttribute('disabled');
                break;
            case 'progress':
                resultContainer.classList.add('progress');
                setTimeout(_sendRequest, query.response.timeout, query.url, query.callback);
        }
    }

    return {
        validate: validate,
        getData: getData,
        setData: setData,
        submit: submit
    }
})();

    </script>

</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Artists base by Berlioz&Kot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a onclick="window.location='/greeting'" class="nav-link" href="#">Homepage</a>
            </li>
            <li class="nav-item">
                <a onclick="window.location='/addArtist'" class="nav-link" href="#">Add new artist</a>
            </li>
            <!--<li class="nav-item">
                <a onclick="window.location='/addAlbum'" class="nav-link" href="#">Add new album</a>
            </li>-->
            <li class="nav-item">
                <a onclick="window.location='/artists'" class="nav-link" href="#">Show artists</a>
            </li>
        </ul>
    </div>
</nav>
<body>
<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-6">
                <h1>Add an album</h1>
                <form th:action="@{/createAlbum}" method="post" enctype="multipart/form-data"
                      class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Album name</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Release year</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="year">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Artist name</label>
                            <div class="col-lg-9">
                                <input type="text" readonly class="form-control" name="artistName"
                                       th:value="${artistName}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Number of songs</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="numberOfSongs">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12 col-lg-offset-3">
                                <input type="submit" class="btn btn-info" value="Create"/>
                            </div>
                        </div>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>